{% load static %}
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="description" content="ideal Finder"/>
<meta name="author" content="TOPKnell"/>
<meta name="keywords" content="이상형 찾기,"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="{% static 'css' %}/{{app}}/{{css}}.css"/>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
<title>{{app}}</title>

<!-- style css -->

<!-- webfont -->
<link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet" type="text/css"/>

<!-- html5 Support & ie Version Checker -->
<script src="setting/html5shiv.js"></script>
<script src="setting/ie-checker.js"></script>

<!-- jQuery -->
<script src="setting/flickity.pkgd.min.js"></script>
