<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="author" content="TOPKnell">
    <meta name="description" content="ideal Finder">
    <meta name="keywords" content="이상형 찾기,">
    <title>TopKnell</title>


    <!-- style css -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- webfont -->
    <link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet" type="text/css">

    <!-- html5 Support & ie Version Checker -->
    <script src="setting/html5shiv.js"></script>
    <script src="setting/ie-checker.js"></script>

    <!-- jQuery -->
    <script src="setting/jquery-1.9.1.js"></script>
    <script src="setting/flickity.pkgd.min.js"></script>

</head>

<body>
    <div>
        <div class="logo">
            <img src="img/logo/idealFinder.png" />
        </div>
    </div>
    <div class="line">
        <div class="lineBr">
            <p style="color: white">line</p>
        </div>
    </div>
    <div class="header">
        <div class="header_title">
        </div>
    </div>
    <div class="photos">
        <input type="checkbox" id="togleBtn_1" style="visibility: hidden; position: absolute">
        <label for="togleBtn_1" class="select_1 selectBoxMK moveview">
            <div class="viewBox">
                <div class="boxCrown">
                    <img src="img/icon/crown.png">
                </div>
                <div class="photo_img">
                    <img id="imageTest" src="img/photo/imgeTest.PNG">
                </div>
            </div>
        </label>

        <input type="checkbox" id="togleBtn_2" style="visibility: hidden; position: absolute">
        <label for="togleBtn_2" class="select_2 selectBoxMK moveview">
            <div class="viewBox">
                <div class="boxCrown">
                    <img src="img/icon/crown.png">
                </div>
                <div class="photo_img">
                    <img id="imageTest" src="img/photo/imgeTest.PNG">
                </div>
            </div>
        </label>
    </div>
    <div class="tail">
        <div class="SelectBT">
            <div class=" SelectBT_text">
                <p>선택</p>
            </div>
        </div>
    </div>

</body></html>
