{% load static %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    {% include 'myidol_v2/head.html' %}
  </head>

  <body>
    {% include 'myidol_v2/header.html' %}

    <div class="line">
      <div class="lineBr">
        <p style="color: white">line</p>
      </div>
    </div>
    <div class="header">
      <div class="header_title">
        <p>이상형 찾기</p>
      </div>
    </div>
    <div class="container-wrapper">
        <input type="file" name="" id="input-image">
        <div>
            <img src="" alt="" id="preview-image">
        </div>
      {% comment %} <article class="container"> {% endcomment %}
        {% comment %} <div class="photos"> {% endcomment %}
          {% comment %} {% for c in cluster_info_li %}
            {% if forloop.counter < 4 %}
              <div class="view_{{forloop.counter}} moveview">
                <div class="viewBox">
                  <div class="photo_img">
                    <img src="{% static 'img/' %}{{c.image_id.gender}}/{{c.image_id.get_file_name}}" alt="{{c.image_id.name}}"/>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="shadow_main moveview"></div>
        <div class="tail">
          <div class="startBT">
            <div class="startBT_text">
              <p>
                <a href="process?gender=female">여성 찾기</a>
              </p>
            </div>
          </div>
          <div class="startBT">
            <div class="startBT_text">
              <p>
                <a href="process?gender=male">남성 찾기</a>
              </p>
            </div>
          </div>
        </div>
      </article> {% endcomment %}
    </div>
    {% include 'myidol_v2/script.html' %}
    <script src="{% static 'js/myidol_v2/similarity.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
  </body>

</html>
