{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include 'myidol_v2/header.html' %}
    <link
      rel="stylesheet"
      href="../../static/css/myidol_v2/similarity_myimg.css"
    />
  </head>
  <body>
    {% csrf_token %}
    <div id="image_container">
      <img id="imageTest" src="{% static 'img/'%}{{image_info.gender}}/{{image_info.get_file_name}}" />
      <img id="upload_img" src="../../static/img/photo/upload.jpg" />
    </div>
    {% comment %}
    <script>
      function setThumbnail(event) {
        var reader = new FileReader();
        reader.onload = function (event) {
          var img = document.getElementById("upload_img");
          img.setAttribute("src", event.target.result);
          document.querySelector("div#image_container").appendChild(img);
        };
        reader.readAsDataURL(event.target.files[0]);
      }
    </script>
    {% endcomment %}

    <div class="input_img">
      <input type="file" id="image" accept="image/*" />
    </div>
    <div class="score">
      <div class="str_txt">이상형과의 유사도 점수는 &nbsp;</div>
      <div class="score_txt"><span class="score-int">??</span>점&nbsp;</div>
      <div class="str_txt">입니다.</div>
    </div>
    <canvas id="canvasOutput"></canvas>
    {% include 'myidol_v2/script.html' %}
    <script src="{% static 'js/myidol_v2/similarity.js' %}"></script>
    <script
      async
      src="https://docs.opencv.org/master/opencv.js"
      type="text/javascript"
    ></script>
  </body>
</html>
