@import url("index.css");
#image_container {
  text-align : center;
  padding-top: 30px;
  width: 20%;
  height: 80%;
  display: flex;
  justify-content: center;
  margin : auto;
}
.input_img {
  padding-top: 30px;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
}

.score {
  display: flex;
  justify-content: center;
  width: 100%;
}

.str_txt {
  font-size: 2em;
}

.score_txt {
  font-size: 2em;
  font-weight: 800;
}

.rank_photos1 {
  text-align : center;
  padding-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.photos1 {
  text-align : center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
}

.photo_img1 {
  width: 200px;
  height: 200px;
  align-items: center;
  margin: 0 auto;
}